body{
    background-color: white;
    color: black;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.title{ /*imgで全ての画像を、iframeで埋め込んだ全ての動画を指定できる */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    margin-left: 300px; /*文章を載せるところの左に余白を作る。最近のはやりの構成*/
    margin-right: 300px;
}

.h1{
    text-align:center;
    height:60px;
    line-height:60px;
}

.container{
    width: 100%;
    display: flex;
    background-color: yellow;
}
.banner{
    height: 80px;
    font-size: 25px;
    margin: 0 15px 0 0;
}
