body{
    background-color: white;
    color: black;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.title{ /*imgで全ての画像を、iframeで埋め込んだ全ての動画を指定できる */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
img{
    width: 150px;
}

/*.content{
    margin-left: 300px; /*文章を載せるところの左に余白を作る。最近のはやりの構成*//*
    margin-right: 500px;
}*/

.subtitle{ /*謹賀新年などのサブタイトル*/
    text-align: center;
    color: red;
}

.h1{
    text-align:center;
    height:60px;
    line-height:60px;
}

.container{ /*container全体にかかる*/
    font-size: large; /*18pxくらい*/
    display: flex;
    margin-top: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: yellow;
}

.container li{ /*containerのそれぞれにかかる*/
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
}


/*ここからフッター要素*/
#footer {
    position: relative;
    margin-top: 40px;
    color: #fff;
  }
  #footer a {
    text-decoration: none;
    color: #fff;
  }
  #footer a:hover {
    text-decoration: underline;
  }
  #footer .primary {
    padding: 40px 20px;
    background-color:dimgray
  }
  #footer .secondary {
    display: flex;
    padding: 40px 20px;
    background: #333;
  }
  
  @media screen and (max-width: 767px) {
    #footer .primary {
      padding: 20px 20px;
      background: #333;
    }
    #footer .secondary {
      display: block;
      padding: 20px 20px;
    }
  }
  
  /* footer-logo */
  
  #footer .logo {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    #footer .logo {
      font-size: 16px;
    }
  }
  
  /* address */
  
  .address {
    margin: 10px 0 0;
    padding: 0;
  }
  
  @media screen and (max-width: 767px) {
    .address {
      font-size: 12px;
    }
  }
  
  /* navi */
  
  .navi-row {
    display: flex;
    margin-top: 40px;
  }
  #footer .navi {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #footer .navi li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
  }
  #footer .navi li:first-child {
    margin-left: 0;
  }
  
  @media screen and (max-width: 767px) {
    .navi-row {
      display: block;
      margin-top: 15px;
    }
    #footer .navi {
      font-size: 12px;
    }
    #footer .navi li {
      margin-top: 5px;
      font-size: 12px;
      text-align: center;
    }
  }
  
  /* sns-navi */
  
  /*不要？
  #footer .sns-navi {
    margin: 0 0 0 auto;
    padding: 0;
  }*/
  #footer .sns-navi li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 20px;
  }
  #footer .sns-navi li:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width: 767px) {
    #footer .sns-navi {
      margin: 20px 0 0;
      padding: 0;
    }
    #footer .sns-navi li {
      margin: 0 20px 0 0;
      padding: 0;
      font-size: 18px;
    }
  }
  
  /* sitenavi 不要？*/
  
  #footer .sitenavi {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #footer .sitenavi li {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
  }
  #footer .sitenavi li:first-child {
    margin-left: 0;
  }
  
  @media screen and (max-width: 767px) {
    #footer .sitenavi {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
  }
  
  /* copyright */
  
  #footer .copyright {
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  @media screen and (max-width: 767px) {
    #footer .copyright {
      width: 100%;
      margin: 20px 0 0;
      text-align: center;
      font-size: 12px;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
  }
