body{
    background-color: orange;
    color: white;
}

p.title img{
    width: 500px;
}

.h1{
    text-align:center;
    height:60px;
    line-height:60px;
}

.container{
    width: 100%;
    display: flex;
    background-color: chocolate;
}
.banner{
    height: 80px;
    font-size: 25px;
    margin: 0 15px 0 0;
}
